/*
** Grid
** variables and mixins related to the flexbox grid
*/

.flex-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  
  /*
  ** .flex-row
  ** flexbox properties
  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: auto;

  /*
  ** .flex-row
  ** vertical alignment
  */
  &.align-center {
    align-items: center;
  }
  &.align-top {
    align-items: flex-start;
  }
  &.align-bottom {
    align-items: flex-end;
  }
  &.align-baseline {
    align-items: baseline;
  }
  &.align-stretch {
    align-items: stretch;
  }

  /*
  ** .flex-row
  ** horizontal growth
  */
  &.flex-grow {
    .flex-item {
      flex-grow: 1;
    }
  }
  
  /*
  ** .flex-row
  ** media queries
  */
  @include media($bp-cleveland) {
    margin-bottom: 30px;
  }
}

/*
** .flex-row
** shortcut layout grids
*/
[class*="flex-row-"] {
  @extend .flex-row;
}

.flex-row {
  &-two {
    .flex-item {
      flex-basis: 50%;
    }
  }
  &-three {
    .flex-item {
      flex-basis: 33.33333%;
    }
  }
  &-four {
    .flex-item {
      flex-basis: 25%;
    }
  }
}

// &-two {
//   @extend .flex-row;

//   .flex-item {
//     flex-basis: 50%;
//   }
// }
// &-three {
//   @extend .flex-row;

//   .flex-item {
//     flex-basis: 33.33333%;
//   }
// }
// &-four {
//   @extend .flex-row;

//   .flex-item {
//     flex-basis: 25%;
//   }
// }

/*
** .flex-row
** shortcut layout grids
** media queries
*/
@include media($bp-cleveland) {
  &-two,
  &-three,
  &-four {
    .flex-item {
      margin-bottom: 30px;
    }
  }
}

.flex-item {
  min-width: $bp-madison;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 30px;

  /*
  ** .flex-item
  ** flexbox properties
  */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  align-self: auto;

  /*
  ** .flex-item
  ** vertical alignment
  */
  &.align-center {
    align-self: center;
  }
  &.align-top {
    align-self: flex-start;
  }
  &.align-bottom {
    align-self: flex-end;
  }
  &.align-baseline {
    align-self: baseline;
  }
  &.align-stretch {
    align-self: stretch;
  }

  /*
  ** .flex-item
  ** horizontal growth
  */
  &.flex-grow {
    flex-grow: 1;
  }
  
  /*
  ** .flex-item
  ** media-queries
  */
  @include media($bp-cleveland) {
    min-width: auto;
    margin-bottom: 0;
  }
}


/*
** .flex-item
** default grid layout
*/
@for $i from 1 through 12 {
  .flex-item-#{$i}{
    @extend .flex-item;

    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 100% * ($i / 12);
  }
}


/*
** .flex-item
** layout styling
** for demo purposes
*/
.flex-item {
  border: 1px solid #444;
  background: lavender;
  padding: 15px;

  // > div {
  //   text-align: center;
  //   padding: 15px;
  //   background: lavender;
  // }
}
