/* -------------
SETTINGS
Global settings. Not in alphabetical order so files compile in order.
---------------*/
/*
** Breakpoints
** variables and mixins related to media query breakpoints
*/
/*
** Layout
** variables and mixins related to the global layout
*/
* {
  box-sizing: border-box; }

* + * {
  margin-top: 30px; }

html, body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

/*
** Grid
** variables and mixins related to the flexbox grid
*/
.flex-row, [class*="flex-row-"] {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  /*
  ** .flex-row
  ** flexbox properties
  */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: auto;
  -ms-flex-align: auto;
  align-items: auto;
  /*
  ** .flex-row
  ** vertical alignment
  */
  /*
  ** .flex-row
  ** horizontal growth
  */
  /*
  ** .flex-row
  ** media queries
  */ }
  .flex-row.align-center, .align-center[class*="flex-row-"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
  .flex-row.align-top, .align-top[class*="flex-row-"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start; }
  .flex-row.align-bottom, .align-bottom[class*="flex-row-"] {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end; }
  .flex-row.align-baseline, .align-baseline[class*="flex-row-"] {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline; }
  .flex-row.align-stretch, .align-stretch[class*="flex-row-"] {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch; }
  .flex-row.flex-grow .flex-item, .flex-grow[class*="flex-row-"] .flex-item, .flex-row.flex-grow .flex-item-1, .flex-grow[class*="flex-row-"] .flex-item-1, .flex-row.flex-grow .flex-item-2, .flex-grow[class*="flex-row-"] .flex-item-2, .flex-row.flex-grow .flex-item-3, .flex-grow[class*="flex-row-"] .flex-item-3, .flex-row.flex-grow .flex-item-4, .flex-grow[class*="flex-row-"] .flex-item-4, .flex-row.flex-grow .flex-item-5, .flex-grow[class*="flex-row-"] .flex-item-5, .flex-row.flex-grow .flex-item-6, .flex-grow[class*="flex-row-"] .flex-item-6, .flex-row.flex-grow .flex-item-7, .flex-grow[class*="flex-row-"] .flex-item-7, .flex-row.flex-grow .flex-item-8, .flex-grow[class*="flex-row-"] .flex-item-8, .flex-row.flex-grow .flex-item-9, .flex-grow[class*="flex-row-"] .flex-item-9, .flex-row.flex-grow .flex-item-10, .flex-grow[class*="flex-row-"] .flex-item-10, .flex-row.flex-grow .flex-item-11, .flex-grow[class*="flex-row-"] .flex-item-11, .flex-row.flex-grow .flex-item-12, .flex-grow[class*="flex-row-"] .flex-item-12 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  @media only screen and (min-width: 500px) {
    .flex-row, [class*="flex-row-"] {
      margin-bottom: 30px; } }

/*
** .flex-row
** shortcut layout grids
*/
.flex-row-two .flex-item, .flex-row-two .flex-item-1, .flex-row-two .flex-item-2, .flex-row-two .flex-item-3, .flex-row-two .flex-item-4, .flex-row-two .flex-item-5, .flex-row-two .flex-item-6, .flex-row-two .flex-item-7, .flex-row-two .flex-item-8, .flex-row-two .flex-item-9, .flex-row-two .flex-item-10, .flex-row-two .flex-item-11, .flex-row-two .flex-item-12 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.flex-row-three .flex-item, .flex-row-three .flex-item-1, .flex-row-three .flex-item-2, .flex-row-three .flex-item-3, .flex-row-three .flex-item-4, .flex-row-three .flex-item-5, .flex-row-three .flex-item-6, .flex-row-three .flex-item-7, .flex-row-three .flex-item-8, .flex-row-three .flex-item-9, .flex-row-three .flex-item-10, .flex-row-three .flex-item-11, .flex-row-three .flex-item-12 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%; }

.flex-row-four .flex-item, .flex-row-four .flex-item-1, .flex-row-four .flex-item-2, .flex-row-four .flex-item-3, .flex-row-four .flex-item-4, .flex-row-four .flex-item-5, .flex-row-four .flex-item-6, .flex-row-four .flex-item-7, .flex-row-four .flex-item-8, .flex-row-four .flex-item-9, .flex-row-four .flex-item-10, .flex-row-four .flex-item-11, .flex-row-four .flex-item-12 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

/*
** .flex-row
** shortcut layout grids
** media queries
*/
@media only screen and (min-width: 500px) {
  -two .flex-item, -two .flex-item-1, -two .flex-item-2, -two .flex-item-3, -two .flex-item-4, -two .flex-item-5, -two .flex-item-6, -two .flex-item-7, -two .flex-item-8, -two .flex-item-9, -two .flex-item-10, -two .flex-item-11, -two .flex-item-12,
  -three .flex-item,
  -three .flex-item-1,
  -three .flex-item-2,
  -three .flex-item-3,
  -three .flex-item-4,
  -three .flex-item-5,
  -three .flex-item-6,
  -three .flex-item-7,
  -three .flex-item-8,
  -three .flex-item-9,
  -three .flex-item-10,
  -three .flex-item-11,
  -three .flex-item-12,
  -four .flex-item,
  -four .flex-item-1,
  -four .flex-item-2,
  -four .flex-item-3,
  -four .flex-item-4,
  -four .flex-item-5,
  -four .flex-item-6,
  -four .flex-item-7,
  -four .flex-item-8,
  -four .flex-item-9,
  -four .flex-item-10,
  -four .flex-item-11,
  -four .flex-item-12 {
    margin-bottom: 30px; } }

.flex-item, .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
  min-width: 320px;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 30px;
  /*
  ** .flex-item
  ** flexbox properties
  */
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  /*
  ** .flex-item
  ** vertical alignment
  */
  /*
  ** .flex-item
  ** horizontal growth
  */
  /*
  ** .flex-item
  ** media-queries
  */ }
  .flex-item.align-center, .align-center.flex-item-1, .align-center.flex-item-2, .align-center.flex-item-3, .align-center.flex-item-4, .align-center.flex-item-5, .align-center.flex-item-6, .align-center.flex-item-7, .align-center.flex-item-8, .align-center.flex-item-9, .align-center.flex-item-10, .align-center.flex-item-11, .align-center.flex-item-12 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  .flex-item.align-top, .align-top.flex-item-1, .align-top.flex-item-2, .align-top.flex-item-3, .align-top.flex-item-4, .align-top.flex-item-5, .align-top.flex-item-6, .align-top.flex-item-7, .align-top.flex-item-8, .align-top.flex-item-9, .align-top.flex-item-10, .align-top.flex-item-11, .align-top.flex-item-12 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .flex-item.align-bottom, .align-bottom.flex-item-1, .align-bottom.flex-item-2, .align-bottom.flex-item-3, .align-bottom.flex-item-4, .align-bottom.flex-item-5, .align-bottom.flex-item-6, .align-bottom.flex-item-7, .align-bottom.flex-item-8, .align-bottom.flex-item-9, .align-bottom.flex-item-10, .align-bottom.flex-item-11, .align-bottom.flex-item-12 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .flex-item.align-baseline, .align-baseline.flex-item-1, .align-baseline.flex-item-2, .align-baseline.flex-item-3, .align-baseline.flex-item-4, .align-baseline.flex-item-5, .align-baseline.flex-item-6, .align-baseline.flex-item-7, .align-baseline.flex-item-8, .align-baseline.flex-item-9, .align-baseline.flex-item-10, .align-baseline.flex-item-11, .align-baseline.flex-item-12 {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline; }
  .flex-item.align-stretch, .align-stretch.flex-item-1, .align-stretch.flex-item-2, .align-stretch.flex-item-3, .align-stretch.flex-item-4, .align-stretch.flex-item-5, .align-stretch.flex-item-6, .align-stretch.flex-item-7, .align-stretch.flex-item-8, .align-stretch.flex-item-9, .align-stretch.flex-item-10, .align-stretch.flex-item-11, .align-stretch.flex-item-12 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  .flex-item.flex-grow, .flex-grow.flex-item-1, .flex-grow.flex-item-2, .flex-grow.flex-item-3, .flex-grow.flex-item-4, .flex-grow.flex-item-5, .flex-grow.flex-item-6, .flex-grow.flex-item-7, .flex-grow.flex-item-8, .flex-grow.flex-item-9, .flex-grow.flex-item-10, .flex-grow.flex-item-11, .flex-grow.flex-item-12 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  @media only screen and (min-width: 500px) {
    .flex-item, .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
      min-width: auto;
      margin-bottom: 0; } }

/*
** .flex-item
** default grid layout
*/
.flex-item-1 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%; }

.flex-item-2 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%; }

.flex-item-3 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.flex-item-4 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%; }

.flex-item-5 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%; }

.flex-item-6 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.flex-item-7 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%; }

.flex-item-8 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%; }

.flex-item-9 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%; }

.flex-item-10 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%; }

.flex-item-11 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%; }

.flex-item-12 {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

/*
** .flex-item
** layout styling
** for demo purposes
*/
.flex-item, .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
  border: 1px solid #444;
  background: lavender;
  padding: 15px; }

/*
** Typography
** variables and mixins related to typography
*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444; }

p {
  margin-top: 15px;
  margin-bottom: 15px; }

p + p {
  margin-top: 0; }
