/*
** Flex-item
** variables and mixins related to the .flex-item element
*/

/*
** .flex-item
*/
.flex-item {
  min-width: $bp-madison;
  @include flexitem();
}


/*
** .flex-item
** default grid layout
*/
[class*="flex-item-"] {
  @include flexitem();
}

@for $i from 1 through 12 {
  .flex-item-#{$i}{
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: 100%;

    @include media($bp-cleveland) {
      flex-grow: 0;
      flex-basis: 100% * ($i / 12);
    }
  }
}